<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="QB Breakdown. Visualizing NFL quarterbacks' touchdown passes using d3.js">
  <title>NFL Quarterback Breakdown</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link href="/media/css/bootstrap.min.css" rel="stylesheet">
<link href="/media/css/custom.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>

<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/media/js/custom.js"></script>

</head>
<body>
<div id="landing">
<h1>QB Breakdown</h1>
<h2>Enter a quarterback's name to see his 2013 touchdown passes broken down by receivers.</h2>
<img src="/media/images/broncos.gif"  align="left" style='width:40%;'>
<img src="/media/images/eagles.gif" align="right" style='width:40%;'>
</div>
<div class="center">
  <input type="text" style="margin-left: -40px" name="qb_name" id="qb_names" onkeypress="keyPressListener(event)"><br>
  <a href="#" onClick="javascript:loadGraph();" class="btn btn-success btn-large" style="margin-left: -30px">Get QB Breakdown</a>
</div>
<div id="footer">
  <div class="container text-center">
     <p>Created by <a href="http://twitter.com/manosaie">Manosai Eerabathini</a> </p>
     <p>If you notice any bugs or issues, please <a href="mailto:mano.eerabathini@gmail.com?subject=QB Breakdown!">shoot me an email.</a></p>
  </div>
</div>
</body>
</html>


