
.center {
  position: absolute;
  bottom: 135px;
  left:45%;
  margin-right: auto;
  margin-left: auto;

}
#footer{background-color:#1fa67a;border-top:1px solid #1b926c;color:#a5d8c7;text-shadow:0 1px 0 rgba(0,0,0,0.15)}#footer a{color:#d2ebe3;border-bottom:dotted 1px #a5d8c7}#footer a:hover{color:#fff;text-decoration:none;border-bottom:solid 1px #fff}
#footer{
  position:absolute;
bottom:0px;
left: 0px;
right: 0px;}
#footer .container{padding-top:40px}
#footer .project{margin-top:10px}
#footer{height:120px}


svg {
  position: absolute;
  right: 25%;
  left: 45%;
  margin-left: -150px;
}

.node circle {
  fill: #fff;
  stroke: #1fa67a;
  stroke-width: 1.5px;
}

.node {
  font-family: 'Oswald', sans-serif;
}


.linkfalse {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.linktrue {
  fill: none;
  stroke: #FDD017;
  stroke-width: 2px;
}

.legend {
    height:50px;
    width:50px;
    border:1px solid black;
    
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  line-height: 100px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  text-align:center;
}
h3 {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  bottom:51%;
  left:15%;
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 25px;
  position: absolute;
  bottom:44%;
  left:4%;
}
